body{
    background-color: grey;
    color: white;
}

main{
    height: 80vh;
}

.container{
    display: flex;
    justify-content: center;
    
}

.foot{
    display: flex;
    justify-content: end;
    height: 20vh;
   
}